/*
 * Copyright (C) 2021 Google, LLC.
 *
 * License: https://opensource.org/licenses/BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this list of conditions
 *    and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice, this list of
 *    conditions and the following disclaimer in the documentation and/or other materials provided with
 *    the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors may be used to
 *    endorse or promote products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
package $javaPackage;

import static com.google.common.truth.Truth.assertThat;
import static de.jflex.util.javac.JavaPackageUtils.getPathForClass;

import de.jflex.testing.unicodedata.AbstractEnumeratedPropertyDefinedScanner;
import de.jflex.testing.unicodedata.Ages;
import de.jflex.util.scanner.ScannerFactory;
import java.io.IOException;
import java.nio.file.Path;
import java.nio.file.Paths;
import javax.annotation.Generated;
import jflex.core.unicode.UnicodeProperties;
import org.junit.Test;

#set( $uv = $unicodeVersion.toString().replace(".", "_") )
/** Test for Age property in {@link jflex.core.unicode.data.Unicode_${uv}}. */
@Generated("de.jflex.migration.unicodedatatest.UnicodeAgeGenerator")
// Generated from java/de/jflex/migration/unicodedatatest/UnicodeAgeTest_x_y.java.vm
public class $className {

  private static final String TEST_DIR = getPathForClass(${testClassName}.class);

  @Test
  public void age() throws Exception {
    UnicodeProperties properties = new UnicodeProperties("$unicodeVersion");
  #foreach ( $a in $ages )
    assertThat(properties.getPropertyValues()).contains("age=$a");
  #end
  }

#foreach ( $a in $ages )
#set( $ua = $a.toString().replace(".", "_") )
  /**
   * Tests character class syntax of the Unicode $unicodeVersion
   * Age=$a property.
   */
  @Test
  public void ageIntervals_${ua}() throws Exception {
    assertAgeInterval(
        ScannerFactory.of(${scannerPrefix}_${ua}::new),
        ${scannerPrefix}_${ua}.YYEOF,
        "${scannerPrefix}_${ua}.unicodeVersion");
  }
#end

  /**
   * Tests subtracting Age Unicode property values in character sets
   * for Unicode $unicodeVersion,
   * e.g. {@code [\p{Age:2.0}--\p{Age:1.1}]}.
   */
  @Test
  public void ageIntervals_subtraction() throws Exception {
    assertAgeInterval(
        ScannerFactory.of(${scannerPrefix}_subtraction::new),
        ${scannerPrefix}_subtraction.YYEOF,
        "${scannerPrefix}_subtraction.unicodeVersion");
  }

  /**
   * Tests character class syntax of the Unicode $unicodeVersion
   * Age=Unassigned property.
   */
  @Test
  public void ageIntervals_unassigned() throws Exception {
    assertAgeInterval(
        ScannerFactory.of(${scannerPrefix}_unassigned::new),
        ${scannerPrefix}_unassigned.YYEOF,
        "${scannerPrefix}_unassigned.unicodeVersion");
  }

  private static void assertAgeInterval(
      ScannerFactory<? extends AbstractEnumeratedPropertyDefinedScanner> scannerFactory,
      int eof,
      String expectedFileName)
      throws IOException {
    Path expectedFile = Paths.get("javatests").resolve(TEST_DIR).resolve(expectedFileName);
    Ages.assertAgeInterval(scannerFactory, eof, Ages.Dataset.${dataset}, expectedFile);
  }
}
