*~
*.versionsBackup

*.class

# Build artefacts
**/target
dependency-reduced-pom.xml
bazel-*

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Eclipse project
.project
.classpath
.metadata/
.settings/

# aggregated-java-source repository
repo

# release files
release
