language: java

jdk:
- openjdk7
- openjdk8

install: true

script: ./scripts/run-tests.sh

env:
  matrix:
  - TEST_SUITE=ant
  - TEST_SUITE=unit
  - TEST_SUITE=regression

before_deploy: ./scripts/before-deploy.sh

deploy:
  provider: pages
  # GITHUB_TOKEN set in travis-ci.org dashboard
  github_token: $GITHUB_TOKEN
  on:
    branch: site
    condition: $TEST_SUITE = unit
  local_dir: target/maven-staging-site/
  repo: jflex-de/jflex-web
  name: Travis site-deploy bot
