# We also compile on pull requests.
branches:
  only:
  - master
  - aggregated-java-sources
  - travis

# We don't use the git log, a very small depth is sufficient
git:
  depth: 3

language: java

jdk:
- openjdk9

matrix:
  include:
  - name: "Check Java format"
    script: scripts/test-java-format.sh
  - name: "Maven everything"
    script:
    - scripts/test-unit.sh
    - scripts/mvn-site.sh
    - scripts/mvn-aggregate-srcs.sh
    env: TEST_SUITE=unit
  - name: "Regression tests"
    script: scripts/test-regression.sh
  - name: "Ant JDK8"
    script: scripts/run-ant.sh
    sdk: oraclejdk8
  - name: "Ant JDK9"
    script: scripts/run-ant.sh
  - name: "Bazel"
    script: scripts/bazel.sh
    # Prerequisites for Bazel
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - curl
          - pkg-config
          - zip
          - g++
          - zlib1g-dev
          - unzip
          - python
    before_install:
    - mkdir -p tools
    - curl -L https://github.com/bazelbuild/bazel/releases/download/0.16.1/bazel_0.16.1-linux-x86_64.deb -o tools/bazel-0.16.1.deb
    install:
    - java -version
    - sudo apt-get install ./tools/bazel-0.16.1.deb
    sudo: true

# Empty the previously built artifacts
# They cannot be deleted in the before_cache phase,
# otherwise `mvn site` fails in the before_deploy phase.
before_install: ./scripts/clean.sh

install:
- java -version
- javac -version
- ./mvnw -version

script: scripts/run-tests.sh

# Travis sometimes fails to download deps from repo1.maven.org
# A cache avoids downloading too much, and will also speed up the build.
# NB: There is one cache per branch and language version/ compiler version/ JDK version
cache:
  # The timeout (in seconds) empties the cache to avoid being stuck with a corrupted artefact
  timeout: 86400  # 24 hours
  directories:
  - $HOME/.m2
  - $HOME/__bazel__
  - jflex/lib
  - tools

deploy:
# Deploy the maven site on Github pages
- provider: pages
  skip_cleanup: true
  on:
    branch: release
    condition:
    - $TEST_SUITE = unit
    - $TRAVIS_JDK_VERSION = openjdk9
  local_dir: target/maven-staging-site/maven-site
  # GITHUB_TOKEN set in travis-ci.org dashboard
  github_token: $GITHUB_TOKEN
  repo: jflex-de/jflex-web
  name: Travis site-deploy bot
  keep-history: true
# Aggregate sources and push to branch aggregated-java-sources
- provider: script
  skip_cleanup: true
  on:
    branch:
    - master
    - travis
    condition:
    - $TEST_SUITE = unit
    - $TRAVIS_JDK_VERSION = openjdk9
  script: ./scripts/deploy-source-code.sh
