# We also compile on pull requests.
branches:
  only:
  - master
  - aggregated-java-sources

language: java

# TODO(regisd) Remove the build matrix ; it really makes the deploy phase more complex
jdk:
- openjdk7
- oraclejdk8
- openjdk9

env:
  matrix:
  - TEST_SUITE=ant
  - TEST_SUITE=unit
  - TEST_SUITE=regression

# Empty the previously built artifacts
# They cannot be deleted in the before_cache phase,
# otherwise `mvn site` fails in the before_deploy phase.
before_install: ./scripts/clean.sh

install: ./mvnw -version

script: ./scripts/run-tests.sh

after_success:
- ./scripts/mvn-site.sh
- ./scripts/mvn-aggregate-srcs.sh

# Travis sometimes fails to download deps from repo1.maven.org
# A cache avoids downloading too much, and will also speed up the build.
# NB: There is one cache per branch and language version/ compiler version/ JDK version
cache:
  # The timeout (in seconds) empties the cache to avoid being stuck with a corrupted artefact
  timeout: 86400  # 24 hours
  directories:
  - $HOME/.m2
  - jflex/lib

deploy:
# Deploy the maven site on Github pages
- provider: pages
  skip_cleanup: true
  on:
    branch: release
    condition:
    - $TEST_SUITE = unit
    - $TRAVIS_JDK_VERSION = oraclejdk8
  local_dir: target/maven-staging-site/maven-site
  # GITHUB_TOKEN set in travis-ci.org dashboard
  github_token: $GITHUB_TOKEN
  repo: jflex-de/jflex-web
  name: Travis site-deploy bot
  keep-history: true
# Aggregate sources and push to branch aggregated-java-sources
- provider: script
  skip_cleanup: true
  on:
    branch: master
    condition:
    - $TEST_SUITE = unit
    - $TRAVIS_JDK_VERSION = oraclejdk8
  script: ./scripts/deploy-source-code.sh
