#set($String = "USE_FOR_FORMATTING")
/*
 * Copyright (C) 1998-2019 Gerwin Klein <lsf@jflex.de>
 * Copyright (C) 2008-2020 Steve Rowe <sarowe@gmail.com>
 * Copyright (C) 2018-2020 Google, LLC.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */
// TODO(regisd) Move in same package
package ${packageName}.data;

// TODO(regisd) Restrict to package visibility
public class $className {

  // Only holds constants.
  private $className() {}

  /** Highest Unicode code point. */
  public static final int maximumCodePoint = 0x$String.format("%x", $maxCodePoint);

  public static final String[] propertyValues = {
    $propertyValues
  };

  public static final String[] intervals = {
    $intervals
  };

  public static final String[] propertyValueAliases = {
    $propertyValueAliases
  };

  /** Maximum caseless partition size. */
  public static final int caselessMatchPartitionSize = $maxCaselessMatchPartitionSize;
  public static final String caselessMatchPartitions =
      "$caselessMatchPartitions";
}
