src/test/cases/apiprivate/Private.java
src/test/cases/arr-return/Arr.java
src/test/cases/bol/Bol.java
src/test/cases/buffer/Buffer.java
src/test/cases/caseless-jflex/Caseless.java
src/test/cases/caseless-jlex/Caseless.java
src/test/cases/ccl-16/Ccl.java
src/test/cases/ccl-bug/Yylex.java
src/test/cases/ccl-esc/Yylex.java
src/test/cases/ccl-pre/Ccl2.java
src/test/cases/ccl-pre/Ccl3.java
src/test/cases/charclass/Charclass.java
src/test/cases/count/Count.java
src/test/cases/ctorarg/Ctorarg.java
src/test/cases/cupsym/Cupsym.java
src/test/cases/dot-newline/Dotnewline.java
src/test/cases/empty-match/*.java
src/test/cases/eof-min/Eofmin.java
src/test/cases/eofclose/Eofclose.java
src/test/cases/eofclose2/Eofclose2.java
src/test/cases/eol-comment/Eolcomment.java
src/test/cases/eol-look/Eol.java
src/test/cases/fixed-look/Fixedlook.java
src/test/cases/generics/Generics*.java
src/test/cases/genlook/Genlook.java
src/test/cases/genlook2/Genlook2.java
src/test/cases/include/Include.java
src/test/cases/include-in-rules/IncludeInRules.java
src/test/cases/include2/Include2.java
src/test/cases/initthrow-eol/Initthrow.java
src/test/cases/java/Java.java
src/test/cases/line-cont/Yylex.java
src/test/cases/look/Look.java
src/test/cases/look-macro/Lookmacro.java
src/test/cases/macro-exp/Macro.java
src/test/cases/manual-ex/Lexer.java
src/test/cases/nevermatch/Never.java
src/test/cases/simple/Simple.java
src/test/cases/six-digit-unicode-escape/SixDigitUnicodeEscape*.java
src/test/cases/testloader/Testloader.java
src/test/cases/unicode-age/UnicodeAge_*.java
src/test/cases/unicode-blocks/Unicode*.java
src/test/cases/unicode-caseless/UnicodeCaseless*.java
src/test/cases/unicode-codepoint-escapes/UnicodeCodePointEscapes*.java
src/test/cases/unicode-compatibility-properties/UnicodeCompatibilityProperties*.java
src/test/cases/unicode-derived-core-properties/UnicodeDerivedCoreProperties*.java
src/test/cases/unicode-digit/UnicodeDecimalDigit*.java
src/test/cases/unicode-general-category/UnicodeGeneralCategory*.java
src/test/cases/unicode-general-category/UnicodeNotGeneralCategory*.java
src/test/cases/unicode-grapheme-break/UnicodeGrapheme*Break*.java
src/test/cases/unicode-letter/UnicodeLetter*.java
src/test/cases/unicode-line-break/UnicodeLineBreak*.java
src/test/cases/unicode-lowercase/UnicodeLowercase*.java
src/test/cases/unicode-misc-properties/UnicodeMisc*.java
src/test/cases/unicode-proplist/UnicodePropList*.java
src/test/cases/unicode-scripts/Unicode*.java
src/test/cases/unicode-sentence-break/UnicodeSentenceBreak*.java
src/test/cases/unicode-space/UnicodeWhiteSpace*.java
src/test/cases/unicode-uppercase/UnicodeUppercase*.java
src/test/cases/unicode-word/UnicodeWord*.java
src/test/cases/unicode-word-break/UnicodeWordBreak*.java
src/test/cases/cup2private/Cup2private.java
src/test/cases/no-unused/NoUnused.java
src/test/cases/unused/Unused.java
