# Copyright 2022, Gerwin Klein, Régis Décamps, Steven Rowe
# SPDX-License-Identifier: BSD-3-Clause

installing.tex
intro.tex
ant-task.tex
head.tex
example.tex
encodings.tex
end.tex
lex-specs.tex
performance.tex
porting-and-parsers.tex
maven-plugin.tex
generated-class.tex

*.bbl
*.blg
*.log
*.toc
*.aux
*.bcf
*.out
*.fdb_latexmk
*.fls

*.mdx

manual.md
manual.html
manual.pdf
xmanual.tex
xmanual.pdf
