name: Google Java Format

on:
  push:
  pull_request:

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # v2 minimum required
    - uses: actions/setup-java@v1
      with:
        # Recommended: latest versions of Google Java Format require JDK 11+
        java-version: "11"
    - uses: axel-op/googlejavaformat-action@v3.4.0
      with:
        args: --dry-run --set-exit-if-changed
        files: 'java/**/*.java'
